<!DOCTYPE html>
<html lang='en'>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Gouri Shankar - Node.js Web Developer</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
        <link rel="icon" href="/assets/gsbgcr.jpg" type="text/css" />
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    </head>

    <body>

        <!--navbar-->
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">
                  <img src="/assets/icon-img(1)cr.jpg" class='profile-img'></img>
              </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent" aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

                <div class="collapse navbar-collapse" id="navContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about" data-target='#about'>About</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#portfolio" data-target='#portfolio'>Portfolio</a>
                        </li>
                    </ul>
                    <ul class='left-nav'>
                        <li class='nav-item px-2'>
                            <a href="mailto:gskumawat555@gmail.com"> <i class='fa fa-envelope fa-2x'></i></a>
                        </li>
                        <li class='nav-item px-2'>
                            <a href="https://github.com/gskumawat0"> <i class='fa fa-github fa-2x'></i></a>
                        </li>
                        <li class='nav-item px-2'>
                            <a href="https://www.linkedin.com/in/gskumawat/"> <i class='fa fa-linkedin fa-2x'></i></a>
                        </li>
                        <li class='nav-item px-2'>
                            <a href="https://twitter.com/gskumawat2"> <i class='fa fa-twitter fa-2x'></i></a>
                        </li>
                        <li class='nav-item px-2'>
                            <a href="tel:+918890232339"> <i class='fa fa-phone fa-2x'></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <header>
            <h2 class='text-center text-white'>I am Gouri Shankar,</h2>
            <h2 class='text-center text-white'>And, I'm a MERN Stack Developer</h2>
        </header>

        <!--about section-->
        <section class='about my-2' id='about'>
            <div class="container">
                <div class="myborder">
                    <h1 class='text-center py-3'>About</h1>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 py-3 px-3">
                        <article>I'm a jaipur based graduate from Rajasthan Technical University,Kota as well as a Node.js Web Developer. When I'm not busy creating projects you can find me listening to music. I love coding, watching movies and playing video games.</article>
                        <h3 class='pt-3 pb-2'>Education</h3>
                        <ol class='px-3'>
                            <li><a href="https://www.udemy.com/certificate/UC-R6XP6KEY">Web Developer Bootcamp - <span class='text-muted'>Colt Steele</span></a></li>
                            <li><a href="https://www.udemy.com/certificate/UC-1AC1MO9Y">Full Stack Web Development : Html, Css, React & Node - <span class='text-muted'>Mark Price</span></a></li>
                            <li><a href="https://www.udemy.com/certificate/UC-TJAON0XQ">Successful Website Creation - <span class='text-muted'>Laurence Svekis</span></a></li>
                        </ol>
                    </div>
                    <div class="col-md-6 col-sm-6 py-3 px-3 text-center">
                        <img src="/assets/icon-img(1)cr.jpg" class='about-img shadow-lg'></img>
                    </div>
                </div>
            </div>
        </section>

        <!--portfolio section-->
        <section class='port  my-2' id='portfolio'>
            <div class='container'>
                <div class="myborder">
                    <h1 class='text-center py-3'>Portfolio</h1>
                </div>

                <!--port content-->
                <div class='row py-3 bg-color'>
                    <!--item 1-->
                    <div class='col-md-3 col-sm-6 my-3 rounded-top'>
                        <div class='port-item text-center shadow-sm pb-2'>
                            <img src="/assets/awesome-homes.jpg" alt='port' class='rounded-top px-0'>
                            <h3 class='py-2'>Awesome Homes</h3>
                            <div class="text-left fix-space pb-2 px-2">
                                <p class='mb-0'><strong>Language :</strong> Node.js, Express.js, Mongodb</p>
                                <p><strong>Project :</strong> App where users can discuss about their beautiful homes</p>
                            </div>
                            <a href="https://awesomehomes.herokuapp.com" class='btn btn-success'>See Project</a>
                        </div>
                    </div>

                    <!--item 2-->
                    <div class='col-md-3 col-sm-6 my-3 rounded-top'>
                        <div class='port-item text-center shadow-sm pb-2'>
                            <img src='/assets/random-user.png' alt='' class=' px-0'>
                            <h3 class='py-2'>Random User Generater</h3>
                            <div class="text-left fix-space pb-2 px-2">
                                <p class='mb-0'><strong>Language :</strong> Jquery, Html, Css</p>
                                <p><strong>Project :</strong> App where users will get random user profile.</p>
                            </div>
                            <a href="https://codepen.io/gskumawat/pen/XBJppa" class='btn btn-success'>See Project</a>
                        </div>
                    </div>

                    <!--item 3-->
                    <div class='col-md-3 col-sm-6 my-3 rounded-top'>
                        <div class='port-item text-center shadow-sm pb-2'>
                            <img src="/assets/mountain-travel.png" alt='home' class='rounded-top px-0'>
                            <h3 class='py-2'>Mountain Travel</h3>
                            <div class="text-left px-2 fix-space pb-2">
                                <p class='mb-0'><strong>Language :</strong> Html, Css - Flexbox</p>
                                <p><strong>Project :</strong> Web page for a mountaineering project</p>
                            </div>
                            <a href="https://mountaintravel.herokuapp.com/" class='btn btn-success'>See Project</a>
                        </div>
                    </div>

                    <!--item 4-->
                    <div class='col-md-3 col-sm-6 my-3 rounded-top'>
                        <div class='port-item text-center shadow-sm pb-2'>
                            <img src="/assets/eec.png" alt='home' class='rounded-top px-0'>
                            <h3 class='py-2'>Earn Easy Commision</h3>
                            <div class="text-left px-2 fix-space pb-2">
                                <p class='mb-0'><strong>Language :</strong> Node.js, Nodemailer, Html, Css - Flexbox</p>
                                <p class=''><strong>Project :</strong> App for Digital Marketting</p>
                            </div>
                            <a href=" https://getfreedomfromfinancialstress.herokuapp.com/" class='btn btn-success'>See Project</a>
                        </div>
                    </div>

                </div>
            </div>

        </section>

        <!--other resources section-->
        <section class='other my-2'>
            <div class="container">
                <div class="myborder">
                    <h1 class='text-center py-3'>Other</h1>
                </div>

                <!--other content-->
                <div class="row py-3">

                    <!--item 1-->
                    <div class="col-md-6">
                        <h3>Recently Read</h3>
                        <p>
                            <a href=" https://en.wikipedia.org/wiki/The_Monk_Who_Sold_His_Ferrari">The Monk Who Sold His Ferreri - <span class='text-muted'>Robin Sharma </span></a><br>
                            <a href="https://en.wikipedia.org/wiki/The_Pilgrimage">The Pilgrimage - <span class='text-muted'>Paulo Coelho</span></a>
                            <br>
                            <a href='https://en.wikipedia.org/wiki/Sidney_Sheldon%27s_Mistress_of_the_Game'> Sidney Seldon's Mistress of the Game - <span class='text-muted'>Tilly Bagshawe </span></a> <br>
                            <a href="https://en.wikipedia.org/wiki/Physics_of_the_Future">Future Of Physics - <span class='text-muted'>Michio Kaku</span></a>
                            <br>
                        </p>
                    </div>

                    <!--item 2-->
                    <div class="col-md-6">
                        <h3>Resources</h3>
                        <p>
                            <a href="https://www.youtube.com/channel/UC-91UA-Xy2Cvb98deRXuggA">Joshua Flake - Youtube</a> <br>
                            <a href=" https://www.youtube.com/channel/UC29ju8bIPH5as8OGnQzwJyA">Traversy Media - Youtube</a> <br>
                            <a href="https://www.youtube.com/channel/UCM4d4vlR_63WQJv6UxTwZqg">Work It Daily - Youtube</a> <br>
                            <a href='https://www.youtube.com/channel/UCqo2YWBtmFSWhuUk4WEyfGg'>Ian Schoonover - Youtube</a>

                        </p>
                    </div>
                </div>
                <div class='row py-3'>
                    <div class="col-sm-12   line-height-incr">
                        <h3> Quotes</h3>
                        <p>
                            <sup><span class="fa fa-quote-left"></span></sup> We Rise By Lifting Others. <sup><span class="fa fa-quote-right"></span></sup> - <span class="text-muted">Robert Ingersoll</span> <br>
                            <sup><span class="fa fa-quote-left"></span></sup> In a gentle way, you can shake the world. <sup><span class="fa fa-quote-right"></span></sup> - <span class='text-muted'>Mahatma Gandhi</span> <br>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!--contact section-->
        <section class='section  mt-2' id='contact'>

            <div class="container">
                <div class="myborder mx-0 py-3">
                    <h1 class='text-center'>Contact Us</h1>
                    <p class='text-center text-muted mb-0'>Have a Question? I'm happy to help</p>
                </div>
                <div id='flash'>
                    <%  if(error && error.length>0){ %>
                        <div class="alert alert-danger" role="alert">
                            <%-error %>
                        </div>
                        <% } %>
                            <%  if(success && success.length>0){ %>
                                <div class="alert alert-success" role="alert">
                                    <%-success %>
                                </div>
                                <% } %>
                </div>
                <div class="mx-auto bg-color col-md-6 col-sm-12  py-3">
                    <form class='form-horizontal' action='/' method='post'>
                        <div class="form-group">
                            <label for="username" class='label-control'>Your Name : </label>
                            <input type="text" placeholder='your name' class='form-control' id='username' name="name" required />
                        </div>
                        <div class="form-group">
                            <label for="email" class='label-control'>Your Email : </label>
                            <input type="text" placeholder='your email' class='form-control' id='email' name="email" required/>
                        </div>
                        <div class="form-group">
                            <label for="subject" class='label-control'>Subject : </label>
                            <input type="text" placeholder='describe in brief' class='form-control' id='subject' name="subject" required />
                        </div>
                        <div class="form-group">
                            <label for="message" class='label-control'>Your Message : </label>
                            <textarea name="message" id="message" rows="5" class='form-control' required></textarea>
                        </div>
                        <button class='btn btn-primary form-group' type='submit'>Submit</button>
                    </form>
                </div>
            </div>
        </section>

        <!--footer-->
        <footer class='bg-dark footer'>
            <div class="container">
                <div class="py-3 display">
                    <div class="d-inline">
                        <p class='text-white'>All rights reserved | &copy 2018 <a href="https://www.linkedin.com/in/gskumawat/"> Gouri Shankar</a></p>
                    </div>
                    <div class='text-white'>
                        <a href='https://www.linkedin.com/in/gskumawat/'> <i class='fa fa-linkedin px-1 fa-2x'></i></a>
                        <a href='https://github.com/gskumawat0'> <i class='fa fa-github px-1 fa-2x'></i></a>
                        <a href='https://twitter.com/gskumawat2'> <i class='fa fa-twitter px-1 fa-2x'></i></a>
                        <a href='mailto:gskumawat555@gmail.com'> <i class='fa fa-envelope px-1 fa-2x'></i></a>
                    </div>
                </div>

            </div>
        </footer>

        <!--js files-->
        <script type="text/javascript" src="javascript/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>

</html>
