<div style='padding:20px; background:#aea9d8;'>
    <p style='margin: 0; line-height:10px; font-size:18px;'> Hi ${newMessage.name}, How are you?.</p> <br> 
    <p style='margin:0; line-height:10px; font-size:18px;'>I hope you are doing well. i'm very happy that you take an extra step to solve your problem.</p><br>
    <p style='margin:0; line-height:10px; font-size:18px;'>You reach out to us, so be assured your problem will solved shortly.till then keep enjoying and be happy.</p> <br>
    <p style='margin:0; line-height:10px; font-size:18px;'>Again thanks for asking us.</p> <br> <br>
    <p style='margin: 0 20px; line-height:10px; font-size:20px;'>Regards : -</p> <br>
    <h4 style='margin: 0 30px; line-height:15px; font-size:20px;'> Gskumawat</h4> 
</div>
<div>
    <p style='margin: 0; line-height:10px; font-size:18px;'> New user registered. credentials are below : </p><br> 
    <p style='margin: 0; line-height:10px; font-size:18px;'> Email : ${newMessage.username}  </p><br>
    <p style='margin: 0; line-height:10px; font-size:18px;'>Name : ${newMessage.name}</p> <br>
    <p style='margin: 0; line-height:10px; font-size:18px;'>Message : ${newMessage.message} </p><br>
    <p style='margin: 0; line-height:10px; font-size:18px;'> help him well.</p> <br>
    <p style='margin: 0; line-height:10px; font-size:18px;'> From : -</p> <br>
    <p style='margin: 0; line-height:10px; font-size:18px;'> Gskumawat(portfolio)</p>
</div>